In [3]:
import pandas as pd
import numpy as np

In [2]:
dataset_housingr = pd.read_csv('housing2r.csv')
dataset_housingr

        RM    AGE      DIS   RAD    TAX     y
0    4.138  100.0   1.1370  24.0  666.0  13.8
1    6.315   73.4   3.3175   5.0  296.0  24.6
2    6.649   93.3   1.3449  24.0  666.0  13.9
3    5.565   70.6   2.0635  24.0  666.0  11.7
4    6.833   94.3   2.0882  24.0  666.0  14.1
..     ...    ...      ...   ...    ...   ...
195  6.939   34.5   8.7921   1.0  335.0  26.6
196  7.420   71.9   3.0992   7.0  222.0  33.4
197  5.936   19.5  10.5857   4.0  334.0  20.6
198  6.176   72.5   2.7301   6.0  432.0  21.2
199  6.242   64.7   3.4242  24.0  666.0  23.0

[200 rows x 6 columns]

In [6]:
features = ['RM', 'AGE', 'DIS', 'RAD', 'TAX']
target = ['y'] #target, true value
X, y = dataset_housingr[features].values, np.squeeze(dataset_housingr[target].values)
print(X.shape)
print(y.shape)

(200, 5)
(200,)